@page "/"
@using System.Runtime.CompilerServices
@using Blazored.LocalStorage;
@using NeaProject.Engine
@using SkiaSharp;
@using SkiaSharp.Views.Blazor;
@using NeaProject.Classes;
@using System.Drawing;



<div style="background-color:#955">
    <button
        @ref="buttonRef"
        class="massive-invisible-button"
        @onkeydown="KeyDown">
                <SKCanvasView 
                    OnPaintSurface="OnPaintSurface" 
                    IgnorePixelScaling="true"
                    EnableRenderLoop="true" 
                    style="width:640px; height:320px; margin:auto; display:block"/>
    </button>
</div>

<div style="background-color:#559">
    @if (_player?.IsDead() == true)
    {
        <h1>YOU LOSE!!</h1>
    }
    else if (_player?.HasWon() == true)
    {
        <h1>YOU WIN!!</h1>
    }
    else if (_player != null && NavigationManager != null)
    {
        <table class="table-center">
            <tr>
                <td style="width:16%;" rowspan="2">
                    @if (_player.LookForDialogue == true)
                    {
                        switch (_player.NextOverlayTile)
                        {
                            case 'F':
                                {
                                    if (_finalBoss != null)
                                    {
                                        <img src="@($"{NavigationManager.Uri}images/Sprites/Mellow-Neutral.png")" style="width:100%" />
                                    }
                                    break;
                                }
                            default:
                                {
                                    <p>wooa</p>
                                    break;
                                }
                        }
                    } 
                    </td>
                <td rowspan="2">
                    @if (_player != null)
                    {
                        if (_player.LookForDialogue == true)
                        {
                            switch (_player.NextOverlayTile)
                            {
                                case 'f':
                                    {
                                        if (_finalBoss != null)
                                        {
                                            <p>@_finalBoss.Chat(_player)</p>
                                        }
                                        break;
                                    }
                                default: break;
                            }
                        }
                        else
                        {
                            foreach (string? item in _player.Inventory)
                            {
                                <p>@item</p>
                            }
                        }
                    }
                 </td>
            <td style="width:8%">wooc</td>
            <td class="stat" style="width:8%">wood</td>
        </tr>
        <tr>
            <td>wooe</td>
            <td class ="stat">woof</td>
        </tr>
        <tr>
                <td rowspan="4"><img src="@($"{NavigationManager.Uri}images/Sprites/Mellie-Neutral.png")" style="width:100%" /></td>
            <td>@NavigationManager?.Uri</td>
            <td rowspan="2">@_player?.Name</td>
            <td class="stat" rowspan="2">HP: 
                @(_player?.CurrentHp ?? 0)</td>
        </tr>
        <tr>
            <td>wook</td>
        </tr>
        <tr>
            <td>wool</td>
            <td rowspan="2">woom</td>
            <td class="stat" rowspan="2">woon</td>
        </tr>
        <tr>
            <td>wooo</td>
        </tr>
    </table>
    }
</div>

<div class="d-lg-none">
    <button @onclick="MoveUp">
        ↑
    </button>
    <button @onclick="MoveLeft">
        ←
    </button>
    <button @onclick="MoveDown">
        ↓
    </button>
    <button @onclick="MoveRight">
        →
    </button>
</div>
<div>
    <button class="massive-invisible-button" @onclick="SaveDataAsync">
        Save
    </button>
</div>
<div>
    <button class="massive-invisible-button" @onclick="ClearDataAsync">
        Delete Save Data
    </button>
</div>