@page "/"
@using System.Runtime.CompilerServices
@using Blazored.LocalStorage;
@using NeaProject.Engine
@using SkiaSharp;
@using SkiaSharp.Views.Blazor;
@using NeaProject.Classes;
@using System.Drawing;

<div style="background-color:#222">

<div style="width:100%; background-color:#222">
    <button
        @ref="buttonRef"
        class="massive-invisible-button"
        @onkeydown="KeyDown">
                <SKCanvasView 
                    @ref="_skCanvasView"
                    OnPaintSurface="OnPaintSurface" 
                    IgnorePixelScaling="true"
                    EnableRenderLoop="true" 
                    style="width:100%; max-width:900px; margin:auto; border-style:solid; border-color:#fff; display:block"/>
    </button>
</div>

<div style="background-color:#222;height:10%">
    @if (_game == null){ }
    else if (_game.Player?.IsDead() == true)
    {
        <h1>YOU LOSE!!</h1>
    }
    else if (_game.Player?.HasWon() == true)
    {
        <h1>YOU WIN!!</h1>
    }
    else if (_game.Player != null && NavigationManager != null)
    {
        <table class="table-center" style="color:#fff;width:79%;height:100px">
            <tr>
                <td style="width:12.5%" rowspan="2">
                    @if (_game.Player.LookForDialogue == true)
                    {
                        switch (_game.Player.NextOverlayTile)
                        {
                            case 'F':
                            {
                                <img src="@($"{NavigationManager.Uri}images/Sprites/Mellow-Neutral.png")" style="width:100%" />
                                break;
                            }
                            default:
                            {
                                <p>wooa</p>
                                break;
                            }
                        }
                    }
                    else
                    {
                        <img src="@($"{NavigationManager.Uri}images/Sprites/Mellie-Neutral.png")" style="width:100%" />
                    }
                    </td>
                <td rowspan="2" style="width:75.5%">
                    @if (_game.Player != null)
                    {
                        if (_game.Player.LookForDialogue == true)
                        {
                            switch (_game.Player.NextOverlayTile)
                            {
                                case 'F':
                                    {
                                        int count = 0;
                                        foreach (Npc npc in _game.Npcs)
                                        {
                                            if (npc.Name == "Mellow")
                                            {
                                                _talkingToNpc = _game.Npcs[count];
                                                <p>@_talkingToNpc.Chat(_game.Player)</p>
                                            }
                                            count++;
                                        }

                                        break;
                                    }
                                default: break;
                            }
                        }
                        else
                        {
                            foreach (string? item in _game.Player.Inventory)
                            {
                                <p>@item</p>
                            }
                        }
                    }
                </td>
                <td style="width:4%"> |@_game.Player?.Name|</td>
                <td style="width:4%">|HP:</td>
                <td style="width:4%">@(_game.Player?.CurrentHp ?? 0)|</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    }
</div>


<div>
    <button class="massive-invisible-button" style="border-style:solid; border-color:#fff;" @onclick="SaveDataAsync">
        Save
    </button>
</div>
<div>
    <button class="massive-invisible-button" style="border-style:solid; border-color:#fff;" @onclick="ClearDataAsync">
        Delete Save Data
    </button>
</div>
    @if (_game != null && _game.Player != null && NavigationManager != null && _game.Player.HasWon()!=true&&_game.Player.IsDead()!=true)
    {
        <table>
            <tr style="height:32px"></tr>
            <tr>
                <td style="width:35%"></td>
                <td style="width:10%"></td>
                <td style="width:10%; font-size:32px">
                    <div class="d-lg-none">
                        <button style="width:56px; background-color:transparent;border-block-color:#fff;color:#fff" @onclick="@(()=>Move("w"))">
                            ↑
                        </button>
                    </div>
                </td>
                <td></td>
                <td style="width:35%"></td>
            </tr>

            <tr>
                <td style="width:35%"></td>
                <td style="width:10%; font-size:32px">
                    <div class="d-lg-none">
                        <button style="width:56px; background-color:transparent;border-block-color:#fff;color:#fff" @onclick="@(()=>Move("a"))">
                            ←
                        </button>
                    </div>
                </td>
                <td style="width:10%; font-size:32px">
                    <div class="d-lg-none">
                        <button style="width:56px; background-color:transparent;border-block-color:#fff;color:#fff" @onclick="@(()=>Move("s"))">
                            ↓
                        </button>
                    </div>
                </td>
                <td style="width:10%; font-size:32px">
                    <div class="d-lg-none">
                        <button style="width:56px; background-color:transparent;border-block-color:#fff;color:#fff" @onclick="@(()=>Move("d"))">
                            →
                        </button>
                    </div>
                </td>
                <td style="width:35%"></td>
            </tr>
        </table>
    }
</div>