@page "/"
@using System.Runtime.CompilerServices
@using Blazored.LocalStorage;
@using NeaProject.Engine
@using SkiaSharp;
@using SkiaSharp.Views.Blazor;
@using NeaProject.Classes;
@using System.Drawing;



<div style="background-color:#955">
    <button
        @ref="buttonRef"
        class="massive-invisible-button"
        @onkeydown="KeyDown">
                <SKCanvasView 
                    OnPaintSurface="OnPaintSurface" 
                    IgnorePixelScaling="true"
                    EnableRenderLoop="true" 
                    style="width:640px; height:320px; margin:auto; display:block"/>
    </button>
</div>

<div style="background-color:#559">
    @if (_game == null){ }
    else if (_game.Player?.IsDead() == true)
    {
        <h1>YOU LOSE!!</h1>
    }
    else if (_game.Player?.HasWon() == true)
    {
        <h1>YOU WIN!!</h1>
    }
    else if (_game.Player != null && NavigationManager != null)
    {
        <table class="table-center">
            <tr>
                <td style="width:16%;" rowspan="2">
                    @if (_game.Player.LookForDialogue == true)
                    {
                        switch (_game.Player.NextOverlayTile)
                        {
                            case 'F':
                                {
                                    <img src="@($"{NavigationManager.Uri}images/Sprites/Mellow-Neutral.png")" style="width:100%" />
                                    break;
                                }
                            default:
                                {
                                    <p>wooa</p>
                                    break;
                                }
                        }
                    } 
                    </td>
                <td rowspan="2">
                    @if (_game.Player != null)
                    {
                        if (_game.Player.LookForDialogue == true)
                        {
                            switch (_game.Player.NextOverlayTile)
                            {
                                case 'F':
                                    {
                                        int count = 0;
                                        foreach (Npc npc in _game.Npcs)
                                        {
                                            if (npc.Name == "Mellow")
                                            {
                                                _talkingToNpc = _game.Npcs[count];
                                                <p>@_talkingToNpc.Chat(_game.Player)</p>
                                            }
                                            count++;
                                        }

                                        break;
                                    }
                                default: break;
                            }
                        }
                        else
                        {
                            foreach (string? item in _game.Player.Inventory)
                            {
                                <p>@item</p>
                            }
                        }
                    }
                 </td>
            <td style="width:8%">wooc</td>
            <td class="stat" style="width:8%">wood</td>
        </tr>
        <tr>
            <td>wooe</td>
            <td class ="stat">woof</td>
        </tr>
        <tr>
                <td rowspan="4"><img src="@($"{NavigationManager.Uri}images/Sprites/Mellie-Neutral.png")" style="width:100%" /></td>
            <td>@NavigationManager?.Uri</td>
            <td rowspan="2">@_game.Player?.Name</td>
            <td class="stat" rowspan="2">HP: 
                @(_game.Player?.CurrentHp ?? 0)</td>
        </tr>
        <tr>
            <td>wook</td>
        </tr>
        <tr>
            <td>wool</td>
            <td rowspan="2">woom</td>
            <td class="stat" rowspan="2">woon</td>
        </tr>
        <tr>
            <td>wooo</td>
        </tr>
    </table>
    }
</div>

@if (_game != null)
{
    <div class="d-lg-none">
        <button @onclick="_game.MoveUp">
            ↑
        </button>
        <button @onclick="_game.MoveLeft">
            ←
        </button>
        <button @onclick="_game.MoveDown">
            ↓
        </button>
        <button @onclick="_game.MoveRight">
            →
        </button>
    </div>
}
<div>
    <button class="massive-invisible-button" @onclick="SaveDataAsync">
        Save
    </button>
</div>
<div>
    <button class="massive-invisible-button" @onclick="ClearDataAsync">
        Delete Save Data
    </button>
</div>